body{
    margin: 0;
    padding: 0;
    background: rgb(243, 242, 244);
}

#head{
 display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40%;
  text-align: center;
  align-items: center;
background: rgb(52, 38, 97) url('images/logo.jpg') center center/ cover no-repeat;
/* background-repeat: no-repeat;
background-position: center;
 background-size: auto;  */
font-size: x-large;
color:aliceblue;
font-weight: 700;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
outline: double 4px rgb(106, 70, 11);

  
}

.v-container{


  position: relative;
     display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    width: 100%;
  
}

#video2{
  position: absolute;
  z-index: 1;
  width: 100vh;
  height: 100vh;
  max-width: none;
}
.logo {
  width: 200px;
  height: 100px;
  outline: double 4px rgb(209, 70, 16);
  /* opacity: 0.5; */
  position: absolute;
  z-index: 2;
  top:0;
  left: 0;
  text-align: center;
margin: 1%;
 
} 
.buttonone{
  outline: double 4px rgb(106, 70, 11);
  color: aliceblue;
  font-size: large;
  background-color: #514d44;
z-index: 3;
top :0;
position: absolute;
margin-top: 0.5%;
width: 200px;
height: 40px;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buttonone:hover {
  background-color: #ddd;
  color: black;
}
.topnav {
  z-index: 4;
  bottom: 0;
  position: absolute;
  background-color: #483426;
  overflow: hidden;
  font-style: italic;
  font-weight: 450;

}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #690707f9;
  color: white;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.toprated-chefs{
  width:100%;
height : auto;
border: 1px black solid;
margin-top: 1%;
display: flex;
float: left;
justify-content: center;
color: #ddd;
background-color: #6e2f04;
text-align: center;
}
.chef-card img{

  outline: double 4px rgb(90, 29, 5);

} 
.chef-card {
margin-top: 5%;
padding:0%;
text-align: center;
width:400px;
height: auto;
outline: auto;
background-color: #9d400e;


}